set input-meta on
set output-meta on
set convert-meta off

set editing-mode vi
set keymap vi-insert

set completion-map-case on

Control-j: menu-complete
Control-k: menu-complete-backward

Control-b: backward-word
Control-f: forward-word
Control-a: beginning-of-line
Control-e: end-of-line
